/App/JabRef.exe
/App/JabRef/JabRef-2.7.2_01.jar
/Data/*
/JabRefPortable.exe
/Other/JabRefPortableSources/ApplicationPortableTemplate.nsi
/Other/JabRefPortableSources/JabRef-icon.png
/Other/JabRefPortableSources/JabRef.jsmooth
/Other/JabRefPortableSources/JabRef.nsi
/Other/JabRefPortableSources/JabRef.org
/set-proxy.exe
